<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Generated</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/generated.css">
    <link rel="shortcut icon" type="image/ico" href="./images/question_mark.jpg">
    <style>
    </style>
</head>

<body>
    <div class="generated_container">
        <h1 name="name_title" id="name_title" class="profile"><%=user.name%></h1>
        <img name="profile_picture" class="profile" src="/public/images/<%=user.propic%>">
        <h1 name="email_title">Email</h1>
        <p><%=user.email%></p>
        <h1 name="description_title">Description</h1>
        <p name="description"><%=user.desc%></p>
        <h1 name="resume_title">Resume</h1>
        <a href="/public/pdfs/<%=user.userResume%>">View Resume</a>
        <h1 name="video_title">Project Video</h1>
        <video name="video" width="480" height="360" controls>
            <source src="/public/videos/<%=user.vid%>" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
        <h1 name="skills_title">Skills</h1>
        <%for(var i=0; i < user.skillz.length; i++){%>
            <p name="skill"><%=user.skillz[i]%></p>
        <%}%>        
        <!-- <p name="skill"><%=user.skillz[i]%></p> -->
        <h1 name="additional_description_title">Additional Information</h1>
        <p name="additional_description"><%=user.addinfo%></p>
        
        <button type="button">
            <a type="button" style="text-decoration: none;color: inherit;" onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="yourwebsite.html">Download Website</a>
        </button> 
        
        <form class="form" id="download_css_form" name="downloadCSSForm" action="/users/downloadCSS" method="GET">
           <input type="submit" value="Download CSS" id="submit" />
        </form>   

        <form class="form" id="to_questionaire_form" name="toQuestionaireForm" action="/users/toQuestionaire" method="GET">
            <input type="submit" value="Questionaire" id="submit" />
        </form>
    </div>
</body>